In [19]:
from georgstage.plan import Plan, Assignment, Task
from georgstage.plan.opt import get_taskstats
import pandas as pd
import numpy as np

In [26]:
assignments = [
        Assignment(date='2021-02-13', at_sea=True, gast_no=1, team_no=1, shift_no=1, task=Task.BJÆRGEMÆRS),
        Assignment(date='2021-02-13', at_sea=True, gast_no=1, team_no=1, shift_no=1, task=Task.BJÆRGEMÆRS),        
        Assignment(date='2021-02-13', at_sea=True, gast_no=2, team_no=1, shift_no=1, task=Task.ORDONNANS),
        Assignment(date='2021-02-13', at_sea=True, gast_no=3, team_no=1, shift_no=1, task=Task.RORGÆNGER),
        Assignment(date='2021-02-13', at_sea=True, gast_no=4, team_no=1, shift_no=1, task=Task.UDKIG),    
    ]

plan = Plan(assignments = assignments)

In [27]:
df = pd.DataFrame(plan.assignments)
df.date = pd.to_datetime(df.date)
df[df.date <= '2021-02-13']

#df.dtypes

#stats = get_taskstats(plan)

        date  at_sea  gast_no  team_no  shift_no             task
0 2021-02-13    True        1        1         1  Task.BJÆRGEMÆRS
1 2021-02-13    True        1        1         1  Task.BJÆRGEMÆRS
2 2021-02-13    True        2        1         1   Task.ORDONNANS
3 2021-02-13    True        3        1         1   Task.RORGÆNGER
4 2021-02-13    True        4        1         1       Task.UDKIG